<!DOCTYPE html>
<html lang="es">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta mane="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
  </head>
  <body>
    <form method="get" action="#">
      <table>
        <tr>
          <td><img src="https://www.miriadax.net/image/user_male_portrait?img_id=35033220&t=1437943740081"></td>
          <td>NOMBRE: <br> OSCAR RAMOS DELGADO</td>
        </tr>
      </table> 
    </form>
  </body>
</html>