<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
  </head>
  <body>
    <h1>bienvenido a <%- title %></h1>
    <p>Welcome to <%- title %></p>
    <p><a href="quizes/question">ingresar</a></p>
  </body>
</html>
