<!DOCTYPE html>
<html lang="es">
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta mane="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
  </head>
  <body>
    <%- respuesta %>
    <a href="question">Intentelo otra vez</a>
  </body>
</html>