<!DOCTYPE html>
<html lang="es">
  <head>
  	<title></title>
  	<meta charset="utf-8">
  	<meta mane="viewport" content="width=device-width, initial-scale=1, maximun-scale=1" />
  </head>
  <body>
  	<form method="get" action="answer">
  		Pregunta: <%- pregunta %>
  		<input type="text" name="respuesta" />
  		<input type="submit" value="enviar" /> 
  	</form>
  </body>
</html>